[[local|localrc]]
disable_all_services
enable_service c-api
enable_service c-bak
enable_service c-sch
enable_service c-vol
disable_service dstat
enable_service etcd3
enable_service file_tracker
enable_service g-api
disable_service horizon
enable_service key
enable_service memory_tracker
enable_service mysql
enable_service n-api
enable_service n-api-meta
enable_service n-cond
enable_service n-cpu
enable_service n-novnc
enable_service n-sch
enable_service ovn-controller
enable_service ovn-northd
enable_service ovs-vswitchd
enable_service ovsdb-server
enable_service placement-api
enable_service q-ovn-metadata-agent
enable_service q-svc
enable_service rabbit
enable_service s-account
enable_service s-container
enable_service s-object
enable_service s-proxy
enable_service tempest
enable_service tls-proxy
ADMIN_PASSWORD="secretadmin"
CEILOMETER_BACKEND="gnocchi"
CEILOMETER_PIPELINE_INTERVAL="15"
DATABASE_PASSWORD="secretdatabase"
DEBUG_LIBVIRT_COREDUMPS="True"
GNOCCHI_ARCHIVE_POLICY_TEMPEST="ceilometer-high-rate"
LIBVIRT_TYPE="qemu"
LOG_COLOR="False"
NOVA_VNC_ENABLED="True"
NOVNC_FROM_PACKAGE="True"
OVN_DBS_LOG_LEVEL="dbg"
PUBLIC_BRIDGE_MTU="1430"
RABBIT_PASSWORD="secretrabbit"
SERVICE_PASSWORD="secretservice"
SWIFT_HASH="1234123412341234"
SWIFT_REPLICAS="1"
SWIFT_START_ALL_SERVICES="False"
TEMPEST_PLUGINS="/opt/stack/telemetry-tempest-plugin /opt/stack/heat-tempest-plugin"
USE_PYTHON3="True"
VERBOSE="True"
VERBOSE_NO_TIMESTAMP="True"
LIBS_FROM_GIT=aodh,ceilometer,cinder,devstack,devstack-gate,dib-utils,diskimage-builder,glance,heat,heat-tempest-plugin,keystone,neutron,nova,panko,placement,requirements,swift,telemetry-tempest-plugin,tempest
enable_plugin aodh https://opendev.org/openstack/aodh
enable_plugin ceilometer https://opendev.org/openstack/ceilometer
enable_plugin heat https://opendev.org/openstack/heat
enable_plugin panko https://opendev.org/openstack/panko
IP_VERSION=4

[[test-config|$TEMPEST_CONFIG]]
[telemetry]
disable_ssl_certificate_validation=True
alarm_threshold=6000000000
