parameter_defaults:
    CloudName: {{ IP }}
    ControlPlaneStaticRoutes: []
    Debug: true
    DeploymentUser: {{ USER }}
    DnsServers:
    - 10.11.5.160
    - 10.2.70.215
    DockerInsecureRegistryAddress:
    - {{ IP }}:8787
    NeutronPublicInterface: {{ INTERFACE }}
    # domain name used by the host
    CloudDomain: localdomain
    NeutronDnsDomain: localdomain
    # re-use ctlplane bridge for public net, defined in the standalone
    # net config (do not change unless you know what you're doing)
    NeutronBridgeMappings: datacentre:br-ctlplane
    NeutronPhysicalBridge: br-ctlplane
    # enable to force metadata for public net
    #NeutronEnableForceMetadata: true
    StandaloneEnableRoutedNetworks: false
    StandaloneHomeDir: {{ HOME }}
    InterfaceLocalMtu: 1500
    # Needed if running in a VM, not needed if on baremetal
    NovaComputeLibvirtType: qemu
    NtpServer: {{ ntp_server }}
    KernelDisableIPv6: 1
